.wrapper {
  position: relative;

  .home-content {
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .control-content {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  .hide-control {
    display: none;
  }

  .button-nav {
    position: fixed;
    top: 430px;
    left: 210px;
    z-index: 1000;
    .back {
      width: 170px;
			height: 140px;
			opacity: 0;
      background: blue;
      display: block;
    }
  }

  .button {
    z-index: 200;
    position: fixed;
    .back {
      width: 40px;
      height: 40px;
      background: blue;
      opacity: 0;
      display: block;
    }
    .control {
      width: 52px;
			height: 49px;
			opacity: 0;
      background: blue;
      display: block;
    }
  }

  .control-button {
    top: 36px;
    right: 39px;
    z-index: 200;
  }
  .img {
    width: 100%;
  }
}
